body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX36uDwMlo-u9n6HnnSs_QtrT_t_oO4knJBQ&usqp=CAU);
}

.register{
    width: 100%;
    max-width: 300px;
    margin: auto;
    background: #fff;
    border-radius:6px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
